xml_Raul/pantalones_raul.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="pantalones">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="pantalon">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="marca" type="xs:string" />
                            <xs:element name="modelo" type="xs:string"/>
                            <xs:element name="Equipo" type="xs:string"/>
                            <xs:element name="talla" default="40">
                                <xs:simpleType>
                                    <xs:restriction base="xs:unsignedByte">
                                        <xs:minInclusive value="8"/>
                                        <xs:maxInclusive value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="color">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Rojo"/>
                                        <xs:enumeration value="Verde"/>
                                        <xs:enumeration value="Azul"/>
                                        <xs:enumeration value="Blanco"/>
                                        <xs:enumeration value="Negro"/>
                                        <xs:enumeration value="Amarillo"/>
                                        <xs:enumeration value="Morado"/>
                                        <xs:enumeration value="Naranja"/>
                                        <xs:enumeration value="Gris"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="cod" type="xs:integer" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>